[submodule "XArchive"]
	path = XArchive
	url = https://github.com/horsicq/XArchive.git
[submodule "Formats"]
	path = Formats
	url = https://github.com/horsicq/Formats.git
[submodule "XGithub"]
	path = XGithub
	url = https://github.com/horsicq/XGithub.git
[submodule "XOptions"]
	path = XOptions
	url = https://github.com/horsicq/XOptions.git
