[submodule "XArchive"]
	path = XArchive
	url = https://github.com/horsicq/XArchive.git
[submodule "Formats"]
	path = Formats
	url = https://github.com/horsicq/Formats.git
[submodule "QOpenSSL"]
	path = QOpenSSL
	url = https://github.com/horsicq/QOpenSSL.git
